<!DOCTYPE html>
        <html>
        <head>
            <meta charset="utf-8" />
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <title>Page Title</title>
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" type="text/css" media="screen" href="/public/css/main.css" />
            <link rel="stylesheet" type="text/css" media="screen" href="/public/css/header.css">
            <link rel="stylesheet"  type="text/css"  href="/public/css/profile.css">
            <link rel="stylesheet" type="text/css"  href="/public/css/footer.css">
            <link rel="stylesheet" type="text/css" href="/public/css/tourist.css">
            <link rel="stylesheet" type="text/css" href="/public/css/touristPlace.css">
            <link rel="stylesheet" type="text/css" href="/public/css/home.css">
            <link rel="stylesheet" type="text/css" href="/public/css/readBlog.css">



            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
            <link rel="stylesheet" href="/public/css/addPlace.css">

            <!--<script src="main.js"></script>-->
        </head>
        <body>
            <header class="header">
                <div class="header-logo">
                    <a href="/" class="Logo-text"><h1>Tour Story</h1></a>

                </div>
                <div class="loginPanel">
                  <% if(!user){ %>
                    <div class="loginPanel-box">
                        <a href="/auth/login">
                               <img src="/public/img/login.png" alt="" class="login-icon">
                        </a>
                    </div>
                    <% }else{ %>
                    <div class="loginPanel-box">
                        <div class="loggedIn"><img src="<%= user.thumbnail %>" alt="" class="loggedIn-img"><div>
                        <ul class="dropdown-list">
                            <li class="dropdown-item"><a href="/showProfile/<%= user._id %>">My Profile</a></li>
                            <li class="dropdown-item"><a href="/createBlog">Write Blog</a></li>
                            <li class="dropdown-item"><a href="/createEvent">Create Event</a></li>
                            <li class="dropdown-item"><a href="/addVisitedPlace">New Visited Place</a></li>
                            <li class="dropdown-item"><a href="/auth/logout" style="color:rgb(231, 76, 60)">Logout</a></li>
                        </ul>

                    </div>
                    <% } %>
                </div>

            </header>
