.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    background: #348F50;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #56B4D3, #348F50);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #56B4D3, #348F50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: 0 5px 4px #888888;
    height: 7rem;
    position: fixed;
    width: 100%;
    z-index: 10;
    transition: all .2s ease-in-out;
}
.loginPanel-box{
    width: 5rem;
}
.loggedIn-img{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
   
}
.dropdown-list{
    position: absolute;
    width: 15rem;
    display: none;
    z-index: 5;
    list-style: none;
    
    right: 10%;

    
}
.dropdown-list .dropdown-item{
    padding: 1rem;
    margin-bottom: .2rem;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(248, 249, 249,.5);
}
.dropdown-list .dropdown-item a{
    text-decoration: none;
    color: rgb(20, 90, 50);
    
    font-family: 'Bree Serif', serif;
    
}
.loggedIn{
    position: relative;
}
.loggedIn:hover .dropdown-list{
    display: flex;
    flex-direction: column;

}
.login-icon{
    width: 3rem;
    height: 3rem;
    fill: aliceblue;
}
.loginPanel{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.Logo-text{
    text-decoration: none;
    font-family: Lobster;
    font-weight: 400;
    color: aliceblue;
    margin: 5px;

}
.header-logo{
    padding: 5px;
}
.Logout{
    color: rgb(231, 76, 60);
}