<% include partials/header %>



        <div class="visitedPlace-dolist">
                    <img src="/public/img/img1.jpg" alt="" class="form-bg">
                    <form action="/createTourPlace" class="addTourPlace-dolist-form" method="POST">
                        <h2 class="blogform-headline">Add New Tour Place</h2>
                        <input type="text" name="placeName" class="input_blog" placeholder="Tour Place Name">
                        <input type="text" name="placeLocation" class="input_blog" placeholder="Place Location">
                        <input type="url" name="placeImage" class="input_blog" placeholder="Image URL">
                        <input type="text" name="placeName" class="desc" placeholder="Description">
                        <input type="submit" value="placeDescription" class="input_submit">
                    </form>
                </div>

<% include partials/footer %>
