<% include partials/header %>

<body>
        <main class="tourist-body">
            <div class="home-part1">
                <ul class="tiny-nav">
                    <li class="tiny-nav-item"><a href="/" class="tiny-nav-item-text">home</a></li>
                    <li class="tiny-nav-item"><a href="/touristsearchpage" class="tiny-nav-item-text">tourist</a></li>
                    <li class="tiny-nav-item"><a href="/tourplacesearchpage" class="tiny-nav-item-text">tour place</a></li>
                </ul>
                <div  class="tourist-quotes">
                    <h2 class="quotes">“Travel makes one modest. You see what a tiny place you occupy in the world.”</h2>
                    <h4 class="quoteswriter">― Gustave Flaubert</h4>
                </div>
            </div>
            <div class="listOfEvents">
                <div class="listOfEvents-heading"><h2 class="listOfTourist-heading-text">All Events</h2></div>
                <div class="eventsList">
                    <div class="separateEventsBlock">
                        <h2 class="eventsTitle">Lets Go Kasol</h2>
                        <h3 class="eventsLocation">Kasol</h3>
                        <h4 class="eventsElements">September 04 2018</h4>
                        <h4 class="eventsDuration">Duration: <span>10 Days</span></h4>
                        <h5 class="eventsMail">pathharatareq@gmail.com</h5>

                    </div>
                </div>
            </div>

            <div class="listOfTopBlogs">
                    <div class="listOfTopBlogs-heading"><h2 class="listOfTourist-heading-text">Top Blogs</h2></div>
                    <div class="blogList">
                        <div class="separateBlogBlock">
                            <div class="imgBlog-outline">
                                <img src="../views/public/img/eberhard-grossgasteiger-382452-unsplash.jpg" alt="User Photo" class="blog-image">
                            </div>
                            <h3 class="touristPlacename">Story about Khirgonga</h3>
                            <h4 class="touristPlaceLocation">India</h4>
                            <a href="#" class="view_Placeprofile">Read</a>
                        </div>
                    </div>
                </div>
        </main>
    </body>

</body>
</html>



<% include partials/footer %>
